.divGridContainer{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}
.gridDiv{
    flex:1;
}

.row{
    display: flex;
    flex:1;
}

.colorChooser{
    width: 100px;
    height: 100px; 
    padding: 10px;
    border: none;
    border-radius: 200px;
    background-color: white;
    overflow: hidden ;
   
}
